.hero {
  background: linear-gradient(to right, #f8f9fa, #e3f2fd);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
footer {
  background-color: #f8f9fa;
  padding: 2rem 0;
  text-align: center;
}
.offcanvas-header .btn-close {
  filter: invert(1);
}
.offcanvas-body .btn {
  color: black;
}
.offcanvas-body .btn.btn-outline-primary {
  border-color: black;
}

.navbar,
.hero,
footer {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

a {
  color: var(--bs-primary);
  transition: color 0.3s ease;
}

a:hover {
  color: var(--bs-primary-dark);
}

/* Icônes dans footer */
footer a i {
  color: var(--bs-body-color);
  transition: color 0.3s ease;
}
/* Style général des icônes */
footer a i {
  font-size: 1.5rem;
  transition: color 0.3s ease;
}
/* Couleurs par défaut selon le thème */
:root[data-bs-theme="light"] footer a i {
  color: #212529;
}
:root[data-bs-theme="dark"] footer a i {
  color: #f8f9fa;
}
